In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from pathlib import Path

%matplotlib inline

In [7]:
! ls data/

Data_Dictionary.xlsx          sample_submission.csv
historical_transactions.csv   test.csv
merchants.csv                 train.csv
new_merchant_transactions.csv

In [8]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [9]:
merch = pd.read_csv('data/merchants.csv')
hist_trans = pd.read_csv('data/historical_transactions.csv')
new_trans = pd.read_csv('data/new_merchant_transactions.csv')

In [10]:
print(train.shape)
print(test.shape)
print(merch.shape)
print(hist_trans.shape)
print(new_trans.shape)

(201917, 6)
(123623, 5)
(334696, 22)
(29112361, 14)
(1963031, 14)

In [15]:
print(train.dtypes, '\n')
train.head()

first_active_month     object
card_id                object
feature_1               int64
feature_2               int64
feature_3               int64
target                float64
dtype: object

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749

In [17]:
print(merch.dtypes)
merch.head(3).transpose()

merchant_id                     object
merchant_group_id                int64
merchant_category_id             int64
subsector_id                     int64
numerical_1                    float64
numerical_2                    float64
category_1                      object
most_recent_sales_range         object
most_recent_purchases_range     object
avg_sales_lag3                 float64
avg_purchases_lag3             float64
active_months_lag3               int64
avg_sales_lag6                 float64
avg_purchases_lag6             float64
active_months_lag6               int64
avg_sales_lag12                float64
avg_purchases_lag12            float64
active_months_lag12              int64
category_4                      object
city_id                          int64
state_id                         int64
category_2                     float64
dtype: object

                                           0                1                2
merchant_id                  M_ID_838061e48c  M_ID_9339d880ad  M_ID_e726bbae1e
merchant_group_id                       8353             3184              447
merchant_category_id                     792              840              690
subsector_id                               9               20                1
numerical_1                       -0.0574706       -0.0574706       -0.0574706
numerical_2                       -0.0574706       -0.0574706       -0.0574706
category_1                                 N                N                N
most_recent_sales_range                    E                E                E
most_recent_purchases_range                E                E                E
avg_sales_lag3                          -0.4            -0.72           -82.13
avg_purchases_lag3                   9.66667             1.75              260
active_months_lag3                         3                3                2
avg_sales_lag6                         -2.25            -0.74           -82.13
avg_purchases_lag6                   18.6667          1.29167              260
active_months_lag6                         6                6                2
avg_sales_lag12                        -2.32            -0.57           -82.13
avg_purchases_lag12                  13.9167           1.6875              260
active_months_lag12                       12               12                2
category_4                                 N                N                N
city_id                                  242               22               -1
state_id                                   9               16                5
category_2                                 1                1                5

In [19]:
print(hist_trans.dtypes)
hist_trans.head(3).transpose()

authorized_flag          object
card_id                  object
city_id                   int64
category_1               object
installments              int64
category_3               object
merchant_category_id      int64
merchant_id              object
month_lag                 int64
purchase_amount         float64
purchase_date            object
category_2              float64
state_id                  int64
subsector_id              int64
dtype: object

,0,1,2
authorized_flag,Y,Y,Y
card_id,C_ID_4e6213e9bc,C_ID_4e6213e9bc,C_ID_4e6213e9bc
city_id,88,88,88
category_1,N,N,N
installments,0,0,0
category_3,A,A,A
merchant_category_id,80,367,80
merchant_id,M_ID_e020e9b302,M_ID_86ec983688,M_ID_979ed661fc
month_lag,-8,-7,-6
purchase_amount,-0.703331,-0.733128,-0.720386
purchase_date,2017-06-25 15:33:07,2017-07-15 12:10:45,2017-08-09 22:04:29
category_2,1,1,1
state_id,16,16,16
subsector_id,37,16,37